@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600;800&display=swap');

:root {
    --main-font: 'Commissioner', sans-serif;
    --bg-main: #191818;
    --main-clr: #fffde8;
    --scn-clr: #cccaba;
    --btn-bg: #c5af81;
    font-size: 24px;
    transition: 0.4s;
}

body {
    font-family: var(--main-font);
    background-color: var(--bg-main);
    color: var(--btn-bg);
    margin: 0;
    padding: 0;
}

.wrapper-main {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 0;
    align-items: center;
    max-width: 1400px;
}

/*modal menu*/
.modal-menu {
    z-index: 100;
    display: block;
    position: absolute;
    width: 100dvw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
}

.modal-menu_options {
    border-right: solid 1px var(--btn-bg);
    width: 300px;
    height: 100dvh;
    float: left;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.modal-menu_options>h3 {
    display: flex;
    width: 200px;
    align-items: center;
    gap: 24px;
    color: var(--scn-clr);
    fill: var(--scn-clr);
    font-size: 0.97rem;
    font-weight: 600;
}

.modal-menu_options>h3>svg {
    cursor: grab;
    width: 32px;
    height: 32px;
}

.modal-menu_slice {
    width: 97%;
    border-bottom: solid 1px var(--btn-bg);
}

.modal-menu_options>ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-menu_options>ul:nth-child(3)>li:first-child {
    color: var(--btn-bg);
    cursor: auto;
}

.modal-menu_options>ul>li {
    cursor: grab;
    white-space: nowrap;
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--scn-clr);
    text-transform: none;
    padding: 5px 5px;
}

/*basket*/
.basket-wrapper {
    overflow-y: scroll;
    z-index: 100;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
}

.basket-body {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 450px;
    padding: 10px 14px;
    border-radius: 10px;
    background-color: black;
    border: solid 1px var(--btn-bg);
}

.basket-body>h3 {
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.basket-body>h3>span:last-child {
    font-size: 1.5rem;
    font-weight: 400;
    transform: rotate(45deg);
    cursor: grab;
}

.basket-list {
    font-size: 0.6rem;
    color: var(--scn-clr);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 18px;
}

.basket-list>div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.basker-list_leftCol {
    display: flex;
    gap: 12px;
}

.basker-list_leftCol>p {
    margin: 0;
}

.basker-list_leftCol>img {
    border-radius: 18px;
    width: 60px;
}

.basker-list_rightCol {
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: end;
}

.basker-list_rightCol>p {
    margin: 0;
}

.basker-list_rightCol>div {
    display: flex;
    justify-content: space-around;
    gap: 12px;
    font-size: 0.6rem;
    border-radius: 10px;
    border: 1px solid var(--scn-clr);
    padding: 4px 12px;
}

.basker-list_rightCol>div>span:first-child {
    cursor: grab;
    padding-right: 12px;
    border-right: solid 1px var(--main-clr);
}

.basker-list_rightCol>div>span:last-child {
    cursor: grab;
    padding-left: 12px;
    border-left: solid 1px var(--main-clr);
}

.basket-body>hr {
    width: 90%;
    margin: 10px 12px;
}

.basket-body>div:last-child {
    margin: 20px 0;
}

.basket-body>div {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.basket-body>div>button {
    border: solid 1px var(--btn-bg);
    background-color: transparent;
    color: var(--btn-bg);
    border-radius: 10px;
    padding: 12px 40px;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: var(--main-font);
    letter-spacing: 1.3px;
    cursor: grab;
    transition: 0.3s ease-in-out;
}

.basket-body>div>button:hover {
    background-color: var(--btn-bg);
    color: black;
}

/*items*/
.item-wrapper {
    overflow-y: scroll;
    z-index: 100;
    display: flex;
    position: fixed;
    top: 0dvh;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
}

.item-body {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 770px;
    padding: 20px 24px;
    margin: auto 12px;
    border-radius: 10px;
    background-color: black;
    border: solid 1px var(--btn-bg);
}

.item-body>div>p:first-child {
    cursor: grab;
    float: right;
    font-size: 1.5rem;
    transform: rotate(45deg);
    margin: 0;
    width: 20px;
    height: 20px;
    margin-bottom: 18px;
}

.item-body>div:nth-child(2) {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: start;
    align-items: flex-start;
}

.item-body>div>img {
    width:70%;
}

.item-body>div>div>h3,
p {
    margin: 0;
}

.item-body__descryption {
    width: 100%;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: start;
}

.item-body__descryption>h3 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
}

.item-body__descryption>p {
    color: var(--main-clr);
    font-size: 0.55rem;
    margin: 8px 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    white-space: nowrap;
}
.item-body__descryption>p:nth-child(2){
    font-size: 0.9rem;
}

.item-body__descryption>p>span:nth-last-child(2) {
    width: 100%;
    height: 15px;
    margin: 0 12px;
    border-bottom: dotted 1px var(--main-clr);

}
.item-body__descryption>.item-body__ingridients {
    white-space: normal;
    font-size: 0.65rem;
    word-spacing: 8px;
}
.item-body__controll {
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
    align-items: center;
}

.item-body__controll>button:hover {
    background-color: #c5af81;
    color: black;
}
.item-body__controll>button{
    cursor: grab;
    color: var(--main-clr);
    font-family: var(--main-font);
    padding: 12px 20px;
    text-align: center;
    border-radius: 10px;
    border: solid 1px var(--btn-bg);
    background-color: transparent;
    width: 40%;
    font-size: 0.7rem;
    word-spacing: 12px;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.item-body__controll>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid var(--btn-bg);
    border-radius: 10px;
    padding: 8px 8px;
    
}
.item-body__controll>div:nth-child(2)>span:nth-child(1){
    border-right: solid 1px var(--btn-bg);
    text-align: center;
    cursor: grab;
    width: 30px;
    height: 30px;
}
.item-body__controll>div:nth-child(2)>span:nth-child(3){
    border-left: solid 1px var(--btn-bg);
    text-align: center;
    cursor: grab;
    width: 30px;
    height: 30px;
}

/*header*/

header {
    color: var(--main-clr);
    font-size: 0.60rem;
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

header>.logo-header {
    width: 325px;
    display: flex;
    gap: 3%;
}

header>.logo-header>h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 240px;
}

header>.btn {
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 13px;
    border: none;
    padding: 5px 14px;
    color: var(--bg-main);
    background-color: var(--btn-bg);
    transition: 0.3s;
}

header>.btn>span {
    padding: 5px 5px;
    text-align: center;
    display: block;
    font-size: 0.5rem;
    font-weight: 600;
}

header>.btn:hover {
    background-color: var(--scn-clr);
}

header>.btn:hover>.arrow-down>div:last-child {
    background-color: var(--scn-clr);
}

header>.btn>.arrow-down {
    transform: rotate(225deg) scale(0.5);
    display: block;
    width: 15px;
    height: 15px;
}

header>.btn>.arrow-down>div {
    display: block;
    width: 15px;
    height: 15px;
}

header>.btn>.arrow-down>div:first-child {
    background-color: var(--bg-main);
}

header>.btn>.arrow-down>div:last-child {
    transition: 0.3s;
    background-color: var(--btn-bg);
    margin-top: -10px;
    margin-left: 5px;
}

header>.logo-header>h1>span:first-child {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.6rem;
    object-fit: contain;
}

header>.logo-header>h1>span:last-child {
    font-size: 0.55rem;
    font-weight: 400;
    text-align: center;
}

header>.logo-header>svg {
    width: 120px;
    height: 120px;
}

header>.logo-header>svg>path {
    fill: var(--btn-bg)
}

header>.nav {
    display: flex;
    justify-content: start;
    align-items: center;
}

header>.nav>ol,
ul {
    padding: 0;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

header>.nav>ol>li {
    text-align: center;
    margin: 8px 0;
    padding-bottom: 3px;
    transition: 0.3s;
}

header>.nav>ol {
    justify-content: space-around;
    flex-wrap: wrap;
}

header>.nav>ol>li:hover {
    cursor: grab;
    color: var(--scn-clr);
    padding-bottom: 3px;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

.media>div {
    color: var(--btn-bg);
    line-height: 28px;
}

.media>div>span {
    color: var(--main-clr);
    font-weight: 600;
    font-size: 0.8rem;
}

.media>ul>li>a>svg {
    width: 33px;
    height: 33px;
}

.burger {
    display: none;
}

.phone {
    text-align: end;
    min-width: 186px;
}

.media>ul>li {
    cursor: grab;
}

.media>ul>li>a>svg:hover>path {
    fill: var(--main-clr)
}

.media>ul>li>a>svg>path {
    transition: 0.3s;
    fill: var(--btn-bg);
}

/*Content*/
.content {
    color: var(--main-clr);
    font-size: 0.60rem;
    width: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 2%;
}

.search-leftCol {
    border: solid 1px var(--btn-bg);
    border-radius: 18px
}

.search-leftCol>h2 {
    margin: 0;
    padding: 17px 0px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    transition: 0.3s;
}

.search-leftCol>h2:hover {
    background-color: var(--btn-bg);
    color: var(--bg-main);
}

.search-leftCol>h2:hover>.burger-menu>div {
    background-color: var(--bg-main);
}

.burger-menu {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35px;
    height: 25px;
}

.burger-menu>div {
    width: 18px;
    height: 3px;
    background-color: #c5af81;
}

.search-leftCol>h2>span {
    letter-spacing: 0.1rem;
    font-size: 0.55rem;
    text-transform: uppercase;
    font-weight: 400;
    width: 60%;
    text-align: center;
}

.search-leftCol {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.search-leftCol>ul {
    margin-bottom: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-leftCol>ul>li {
    letter-spacing: 0.05rem;
    padding: 12px 14px;
    font-size: 0.65rem;
    font-weight: 400;
    text-transform: none;
}

.search-leftCol>ul>li:hover:not(:last-child, :first-child) {
    background-color: black;
}

.search-leftCol>ul>li:hover:last-child {
    background-color: black;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.search-leftCol>ul>li:first-child {
    color: var(--btn-bg);
}

.search-rightCol {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-header {
    display: flex;
    flex-wrap: nowrap;
    gap: 2%;
    justify-content: space-between;
    width: 100%;
}

.search-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3px 12px;
    width: 85%;
    height: 36px;
    border: solid 1px var(--main-clr);
    border-radius: 11px;
    gap: 2%
}

.search-bar>.btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--main-clr);
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    gap: 10px;

}

.search-bar>.btn>.arrow-down {
    transform: rotate(225deg) scale(0.7);
    display: block;
    width: 15px;
    height: 15px;
}

.search-bar>.btn>.arrow-down>div:last-child {
    background-color: var(--bg-main);
    width: 15px;
    height: 15px;
    margin-top: -13px;
    margin-left: 2px;
}

.search-bar>.btn>.arrow-down>div:first-child {
    background-color: var(--btn-bg);
    width: 15px;
    height: 15px;
}

.search-bar>input {
    width: 80%;
    color: var(--main-clr);
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    background-color: transparent;
    border: none;
}

.search-glass {
    width: calc(5%+20px);
    fill: var(--main-clr);
}

.basket {
    width: 200px;
    height: 42px;
    border: solid 1px var(--btn-bg);
    border-radius: 11px;
}

.tags-search {
    margin-top: 24px;
    padding: 10px 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-height: 70px;
    overflow: hidden;
}

.tags-search>div {
    padding: 2px 3px;
    color: var(--main-clr);
}

.tags-search>div:hover {
    cursor: grab;
    color: var(--scn-clr);
    text-decoration: underline;
    text-underline-offset: 3px
}

.basket {
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
}

.basket>p {
    margin: 7px 0;
}

/*Caroosel*/
.search-carossel {
    margin-top: 23px;
    max-width: 960px;
    height: 420px;
    background-color: black;
    border: none;
    border-radius: 10px;
}

.search-carossel__controll {
    margin-top: 160px;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
}

.search-carossel__controll>.carossel_left-arrow,
.carossel_right-arrow {
    z-index: 2;
    width: 30px;
    cursor: grab;
    fill: var(--btn-bg);
    position: relative;
    top: 100%;
}

.search-carossel__controll>.carossel_right-arrow {
    transform: rotate(180deg);
}

.caro-content {
    width: 100%;
    transition: 0.4s;
    color: var(--btn-bg);
    position: relative;
    top: -210px;
    margin-inline: auto;
    overflow-x: hidden;
    display: inline-flex;
    gap: 20dvw;
    padding-bottom: 100px;
    transition: 0.3s;
}

.caro-content>div:first-child {
    margin-left: 14%;
}

.caro-content>div {
    height: 370px;
    margin-top: 30px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

.caro-content>div>div {
    width: 400px;
}

.caro-content>div>div>h3 {
    padding: 12px 0;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.caro-content>div>div>p {
    line-height: 22px;
    font-size: 0.80rem;
}

.caro-content>div>div>.yes-but {
    color: var(--scn-clr);
    font-size: 0.45rem;
}

.caro-content>div>img {
    width: 310px;
    object-fit: contain;
    display: block;
    padding: 0;
    margin-inline: auto;
}

/*right-col-options*/
.our-options {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    justify-content: space-around;
    align-items: start;
    margin-top: 23px;
}

.our-options>div {
    width: 30%;
}

.our-options__text>div>h3 {
    text-transform: uppercase;
    font-size: 0.55rem;
    letter-spacing: 0.12rem;
}

.our-options__text {
    display: flex;
    justify-content: start;
    gap: 18px;
}

.our-options__text>div {
    width: 70%;
}

.our-options__text>div>p {
    line-height: 24px;
}

.our-options__text>svg {
    width: 60px;
    height: 60px;
    fill: var(--btn-bg)
}

/*Content popular*/
.content-popular {
    width: 88%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.content__controll {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.content__controll>.content_left-arrow,
.content_right-arrow {
    z-index: 2;
    width: 30px;
    cursor: grab;
    fill: var(--btn-bg);
    position: relative;
    top: 100%;
}

.content__controll>.content_right-arrow {
    transform: rotate(180deg);
}

.content__controll>p {
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    word-spacing: 10px;
    color: var(--main-clr);
    white-space: nowrap;
    text-align: center;
}

.content-plates {
    justify-content: start;
    width: 100%;
    transition: 0.4s;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 460px;
    display: flex;
    transition: ease-in-out 0.4s;
}

.content-plates>div {
    text-align: center;
    width: 240px;
    height: 450px;
    background-color: black;
    margin: 10px 0px;
}

.content-plates>div>h3 {
    text-transform: uppercase;
    word-spacing: 12px;
    margin: 7px 12px;
    font-size: 0.8rem;
    font-weight: 600;
    height: 38px;
}

.content-plates>div>p {
    color: var(--main-clr);
    font-size: 0.6rem;
    margin: 8px 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.content-plates>div>p:nth-child(3) {
    margin-top: 18px;
}

.content-plates>div>p:nth-child(5) {
    font-size: 0.9rem;
    padding: 0 33%;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 18px;
}

.content-plates>div>p>span:not(span:nth-child(2)) {
    white-space: nowrap;
}

.content-plates>div>p>span:first-child {
    text-align: left;
}

.content-plates>div>p>span:last-child {
    text-align: end;
}

.content-plates>div>p>span:nth-child(2) {
    width: 100%;
    height: 15px;
    margin: 0 12px;
    border-bottom: dotted 1px var(--main-clr);
}

.content-plates>div>img {
    width: 215px;
}

.content-plates>div>button {
    background-color: transparent;
    border: 1px solid var(--btn-bg);
    color: var(--btn-bg);
    font-size: 0.65rem;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 8px 20%;
    border-radius: 10px;
    font-family: var(--main-font);
    cursor: pointer;
    transition: 0.4s;
}

.content-plates>div>button:hover {
    background-color: var(--btn-bg);
    color: black;
}

/*Footer*/
footer {
    color: var(--main-clr);
    font-size: 0.60rem;
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer>p:last-child {
    margin-top: 35px;
    text-align: center;
    line-height: 21px;
    color: var(--btn-bg);
    letter-spacing: 0.04rem;
}

footer>.footer-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4%
}

footer>.footer-info>ul {
    min-width: 261px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

footer>.footer-info>ul>li {
    font-size: 0.8rem;
    margin-bottom: 8px;
    padding-bottom: 3px;
}

footer>.footer-info>ul>li:not(:first-child) {
    cursor: grab;
    font-weight: 400;
    letter-spacing: 0.03rem;
    text-transform: none;
    color: var(--scn-clr);
    font-size: 0.55rem;
    transition: 0.3s;
}

footer>.footer-info>ul>li:hover:not(:first-child) {
    cursor: grab;
    color: var(--btn-bg);
    padding-bottom: 3px;
    text-decoration: underline;
    text-underline-offset: 3px;

}

/*utility*/

.overflow {
    overflow: hidden;
}

.hidden {
    display: none;
}

/*screens*/

@media screen and (max-width:1400px) {
    .search-leftCol {
        display: none;
    }
}

@media screen and (max-width:1130px) {
    header>.nav {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .media>ul>li>a>svg {
        display: none;
    }

    header>.logo-header {
        width: 290px;
        gap: 2px;
    }

    .our-options__text>div>* {
        font-size: 0.6rem;
    }

    .phone {
        font-size: 0.5rem;
    }
}

@media screen and (max-width:720px) {
    header>.btn {
        display: none;
    }

    .our-options {
        flex-direction: column;
    }

    .our-options>div {
        width: 100%;
    }

    .our-options__text {
        align-items: center;
        gap: 8%;
    }
}

@media screen and (max-width:650px) {
    .phone {
        display: none;
    }

    .burger {
        width: 13dvw;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        justify-content: center;
    }

    .burger>div {
        border-radius: 10px;
        width: 80%;
        height: 6px;
        background-color: var(--main-clr);
    }

    .search-bar>.btn {
        display: none;
    }
}

@media screen and (max-width:450px) {
    header>.logo-header {
        width: 30dvw;
        align-items: center;
    }

    header>.logo-header>h1 {
        font-size: 0.7rem;
    }

    .basket-body {
        transform: scale(0.8);
    }
}

/*Carosel-screens*/
@media screen and (max-width:1070px) {
    .search-carossel {
        width: 800px;
    }

    .caro-content>div>img {
        width: 220px;
    }
}

@media screen and (max-width:850px) {
    .search-carossel {
        width: 600px;
    }

    .caro-content>div>div {
        width: 230px;
    }

    .caro-content>div>div>h3,
    p {
        font-size: 0.8rem;
    }
    .item-body__controll {
        flex-direction: column;
        gap: 20px;
    }
    .item-body__controll>button {
        width: 100%;
    }
    .item-body__controll>button:nth-child(1){
        order: 2;
    }
    .item-body__controll>div:nth-child(2){
        float: left;
    }
}

@media screen and (max-width:650px) {
    .search-carossel {
        width: 88dvw;
        height: 560px;
    }

    .caro-content>div {
        height: auto;
        width: 80%;
        flex-direction: column;
    }

    .caro-content>div>div {
        width: 65dvw;
        text-align: center;

        overflow-y: hidden;
    }

    .search-header {
        align-items: center;
        gap: 18px;
        display: flex;
        flex-direction: column;
    }
    .item-body > div:nth-child(2) {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 350px) {
    .content__controll>p {
        font-size: 0.7rem;
    }
}